<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/common.css">
    <title>智慧党建</title>
</head>
<body>
<div class="title-logo" style="background: url('../images/building/building_logo.png') no-repeat; "></div>
<div id="bar" class="bar"></div>
<div id="menu"></div>
<div id="post"></div>
<div id="weather-forecast"></div>
<div id="intro-btn-usage"></div>
<table id="cursor" cellpadding="0" cellspacing="0"></table>
<div id="debug-message"></div>
</body>
<script type="application/javascript" src="../module/utility/assistant.js"></script>
<script type="application/javascript" src="../module/utility/async.js"></script>
<script type="application/javascript" src="../module/cms/cms.config.js"></script>
<script type="application/javascript" src="../module/cms/cms.api.js"></script>
<script type="application/javascript" src="../module/cursor.module.js"></script>
<script type="application/javascript" src="../module/bar.module.js"></script>
<script type="application/javascript" src="../module/menu.module.js"></script>
<script type="application/javascript" src="../module/post.module.js"></script>
<script type="application/javascript" src="../module/transfer.module.js"></script>
<script type="application/javascript">
    function BarComponent() {
        BarModule.call(this);

        this.barItemArray = [
            {
                title: "党的声音",
                resourceId: cmsConfig.buildingResourceIdArray[1].resourceId
            },
            {
                title: "党建常识",
                resourceId: cmsConfig.buildingResourceIdArray[2].resourceId
            },
            {
                title: "党的历程",
                resourceId: cmsConfig.buildingResourceIdArray[3].resourceId
            },
            {
                title: "党风廉政",
                resourceId: cmsConfig.buildingResourceIdArray[4].resourceId
            },
            {
                title: "拱辰先锋",
                resourceId: cmsConfig.buildingResourceIdArray[5].resourceId
            },
            {
                title: "两学一做",
                resourceId: cmsConfig.buildingResourceIdArray[6].resourceId
            }
        ]
    }

    function MenuComponent() {
        MenuModule.call(this);

        this.itemsPerLine = [2, 2];           // 每行所包含的元素数量
        this.menuItemArray = [
            {
                left: 625,
                top: 255,
                width: 255,
                height: 189,
                bgImageSrc: 'url(../images/building/building_nation.png) no-repeat',
                resourceId: cmsConfig.buildingResourceIdArray[7].resourceId
            },
            {
                left: 883,
                top: 255,
                width: 255,
                height: 189,
                bgImageSrc: 'url(../images/building/building_local.png) no-repeat',
                resourceId: cmsConfig.buildingResourceIdArray[8].resourceId
            },
            {
                left: 625,
                top: 448,
                width: 255,
                height: 189,
                bgImageSrc: 'url(../images/building/building_learn.png) no-repeat',
                resourceId: cmsConfig.buildingResourceIdArray[9].resourceId
            },
            {
                left: 883,
                top: 448,
                width: 255,
                height: 189,
                bgImageSrc: 'url(../images/building/building_notice.png) no-repeat',
                resourceId: cmsConfig.buildingResourceIdArray[10].resourceId
            }
        ]
    }

    function PostComponent() {
        PostModule.call(this);

        this.postItemArray = [
            {
                left: 97,
                top: 258,
                width: 523,
                height: 380,
                resourceId: cmsConfig.buildingResourceIdArray[11].resourceId,
                bgImageSrc: '../images/city/city_mid_ad.jpg',
                element: "post-item-0",
                url: ""
            }
        ];
    }

    function CursorComponent(bar, menu, post) {
        CursorModule.call(this);

        // 属性
        this.focusArea = 5;
        this.bar = bar;
        this.menu = menu;
        this.post = post;

        // 方法
        this.moveX = function (direction) {
            this.focusOut();
            switch (this.focusArea) {
                case 0:         // 菜单
                    if (-1 === this.menu.moveX(direction)) {
                        this.focusArea = 1;
                    }
                    break;
                case 1:         // 海报
                    this.focusArea = 0;

                    if (direction < 0) {
                        this.menu.focusPosY = 0;
                        this.menu.focusPosX = this.menu.itemsPerLine[this.menu.focusPosY] - 1;
                    } else {
                        this.menu.focusPosY = 0;
                        this.menu.focusPosX = 0;
                    }
                    break;
                case 5:         // 栏目
                    this.bar.moveX(direction);
                    break;
                default:
                    break;
            }
            this.focusOn();
        };

        this.moveY = function (direction) {
            this.focusOut();
            switch (this.focusArea) {
                case 0:         // 菜单
                    if (-1 === this.menu.moveY(direction)) {
                        this.focusArea = 5;
                    }
                    break;
                case 1:         // 海报
                    this.focusArea = 5;
                    break;
                case 5:         // 列表
                    this.focusArea = 1;
                    break;
                default:
                    break;
            }
            this.focusOn();
        };
    }

    function TransferComponent(cursor) {
        var that = this;

        TransferModule.call(this);
        // 属性
        this.fileName = "building";
        this.cursor = cursor;

        // 方法
        this.doBack = function () {
            this.remove(this.fileName);
            this.package([]);
            window.location.href = "index.html" + this.package([]);
        };

        this.doSelect = function () {
            var
                i,
                _num = 0,
                postfix = "",
                params = [];

            this.remove(this.fileName);
            switch (this.cursor.focusArea) {
                case 0:         // 菜单
                    for (i = 0; i < this.cursor.menu.focusPosY; i++) {
                        _num += this.cursor.menu.itemsPerLine[i];
                    }
                    _num += this.cursor.menu.focusPosX;
                    params = {
                        "building": {
                            focusArea: this.cursor.focusArea,
                            focusPosX: this.cursor.menu.focusPosX,
                            focusPosY: this.cursor.menu.focusPosY
                        },
                        "more": {
                            resourceId: this.cursor.menu.menuItemArray[_num].resourceId,
                            backURL: 'building.html',
                            logoImageSrc: '../images/building/building_logo.png',
                            pageIndex: 1
                        }
                    };
                    postfix = this.package(params);
                    this.cursor.menu.doSelect(postfix);
                    break;
                case 1:         // 海报
                    params =
                        {
                            "building": {
                                focusArea: this.cursor.focusArea,
                                focusPos: this.cursor.post.focusPos
                            },
                            "video": {
                                backURL: this.backUrl(),
                                fileName: this.fileName,
                                focusArea: this.cursor.focusArea,
                                focusPos: this.cursor.post.focusPos,
                                resourceId: this.cursor.post.postItemArray[this.cursor.post.focusPos].resourceId
                            }
                        };
                    postfix = this.package(params);
                    this.cursor.post.doSelect(postfix);
                    break;
                case 5:         // 栏目
                    params = {
                        "building": {
                            focusArea: this.cursor.focusArea,
                            focusPos: this.cursor.bar.focusPos
                        },
                        "more": {
                            resourceId: this.cursor.bar.barItemArray[this.cursor.bar.focusPos].resourceId,
                            backURL: 'building.html',
                            logoImageSrc: '../images/building/building_logo.png',
                            pageIndex: 1
                        }
                    };
                    postfix = this.package(params);
                    this.cursor.bar.doSelect(postfix);
                    break;
                default:
                    break;
            }
        };

        this.onKeyDown = function (event) {
            var code = getKeyCode(event);

            switch (code) {
                case "KEY_NUMBER1":
                    that.toggle();
                    return false;
                case "KEY_UP":
                    that.cursor.moveY(-1);
                    return false;
                case "KEY_DOWN":
                    that.cursor.moveY(1);
                    return false;
                case "KEY_LEFT":
                    that.cursor.moveX(-1);
                    return false;
                case "KEY_RIGHT":
                    that.cursor.moveX(1);
                    return false;
                case "KEY_SELECT":
                    that.doSelect();
                    return false;
                case "KEY_EXIT":
                case "KEY_BACK":
                    that.doBack();
                    return false;
                default:
                    break;
            }
        }
    }

    window.onload = function () {
        var
            barComponent = new BarComponent(),
            menuComponent = new MenuComponent(),
            postComponent = new PostComponent(),
            cursorComponent = new CursorComponent(barComponent, menuComponent, postComponent),
            transferComponent = new TransferComponent(cursorComponent);

        barComponent.init();
        menuComponent.init();
        postComponent.init();
        cursorComponent.init();
        transferComponent.init();

        cursorComponent.focusOn();
        document.onkeydown = transferComponent.onKeyDown;
    }

</script>
</html>